
.ql-container .ql-editor {
  ul[data-checked] {
    padding-left: 0.4em;
    li {
      &:before {
        margin-right: 0.6em;
      }
      @for $index from 1 through 100 {
        &.ql-indent-#{$index} {
          padding-left: #{ 1.2 + $index }em;
        }
      }
    }
  }
  ul:not([data-checked]) {
    padding-left: 1em;
    li:not(.ql-direction-rtl) {
      position: relative;
      margin: 0;
      padding-left: 0.8em;
      &:before {
        display: list-item;
        position: absolute;
        list-style: disc;
        width: 0;
        top: -35%;
          left: 0.8em;
        content: '';
        margin-left: 0;
        font-size: 1.5em;
      }

      @for $index from 1 through 100 {
        &.ql-indent-#{$index} {
          padding-left: #{ 1 + $index }em;
          &:before {
            left: #{($index * 0.6) + 1}em;
            list-style: square;
          }
        }
      }
      &.ql-indent-1 {
        &:before {
          list-style: circle;
        }
      }
    }
  }

  ol {
    padding-left: 1em;
    li:not(.ql-direction-rtl) {
      position: relative;
      margin: 0;
      padding-left: 0.8em;
      &:before {
        width: 0;
        top: -0.25em;
        margin-right: 1.1em;
      }
      @for $index from 1 through 100 {
        &.ql-indent-#{$index} {
          padding-left: #{ 1 + $index }em;
          &:before {
            margin-right: 1.1em;
          }
        }
      }
    }
  }
}
